<div class="logo">
  <a href="/">
    <img src="/img/zentone_logo.png">
  </a>
</div>
<div class="teaser-note" id="teaser-note">
  <strong>Zentone is coming soon...</strong>
  <p>Free advertising! Upload your whitepaper or presentation for the chance to be featured, daily.</p>
</div>
<ul class="action">
  <a class="{{#ifeq title 'slide-upload'}}active{{/ifeq}} nav-upload btn" id="button-upload" href="/slide-upload">
    Upload
  </a>
  {{#if user}}
  <li class="dropdown">
    <a href="#" data-toggle="dropdown" class="navbar-avatar dropdown-toggle">
      {{#if user.gravatar}}
      <div class="gravatar">
        <img src="{{user.gravatar}}">
      </div>
      {{else}} {{#if user.name}} {{user.name}} {{else}} {{user.email}} {{/if}}
      <i class="caret"></i>
      {{/if}}
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/account">My Account</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="/user-presentations">My Presentations</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </li>
  {{else}}
  <li class="nav-item {{#ifeq title 'Log in'}}active{{/ifeq}}">
    <a href="/login">Log in</a>
  </li>
  <li class="nav-item {{#ifeq title 'Sign up'}}active{{/ifeq}}">
    <a href="/signup">Sign up</a>
  </li>
  {{/if}}
</ul>