<nav class="navbar navbar-default navbar-expand-lg">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img src="../img/zentone_logo.png">
    </a>
    <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div id="teaser-note">
      <div class="navbar-collapse collapse teaser-note text-muted">
        <strong>Zentone is coming soon...</strong>
        <p>Free advertising! Upload your whitepaper or
          <br>presentation for the chance to be featured, daily.</p>
      </div>
    </div>
    <div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li id="button-upload" class="nav-item {{#ifeq title 'slide-upload'}}active{{/ifeq}}">
            <a href="/slide-upload">Upload</a>
          </li>
          {{#if user}}
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="navbar-avatar dropdown-toggle">
              {{#if user.picture}}
              <img src="{{user.picture}}"> {{else}}
              <img src="{{user.gravatar}}"> {{/if}} {{#if user.name}} {{user.name}} {{else}} {{user.email}} {{/if}}
              <i class="caret"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/account">My Account</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </li>
          {{else}}
          <li class="nav-item {{#ifeq title 'Log in'}}active{{/ifeq}}">
            <a href="/login">Log in</a>
          </li>
          <li class="nav-item {{#ifeq title 'Sign up'}}active{{/ifeq}}">
            <a href="/signup">Sign up</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</nav>