<section class="user__presentations">
  <div class="user__header">
    <div class="user__picture">
      {{#if user.gravatar}}
      <div class="user__gravatar">
        <img src="{{user.gravatar}}">
      </div>
      {{/if}}
      <button class="follow">Follow</button>
    </div>
    <div class="user__header-info">
      <h3>{{#if user.name}} {{user.name}} {{/if}}</h3>
      <p>{{#if user.company}} {{user.company}} {{/if}}</p>
      <p>{{#if user.description}} {{user.description}} {{/if}}</p>
    </div>
    <div class="user__social">
      <div class="user__social-buttons">
        <a href="#">
          <svg class="icon icon-linkedin" aria-hidden="true"></svg>
        </a>
        <a href="#">
          <svg class="icon icon-facebook" aria-hidden="true"></svg>
        </a>
        <a href="#">
          <svg class="icon icon-twitter" aria-hidden="true"></svg>
        </a>
      </div>
      <div class="user__followers">
        600 Followers
      </div>
    </div>

  </div>
  <div class="user__presentations-header">
    <h3>Latest Stories</h3>
  </div>
  <div class="user__presentations-list-container">
    <ul id="user__presentations-list"></ul>
  </div>
</section>

<template id="user__presentation-item">
  <div class="user__presentation-item">
    <div class="user__presentation-item-canvas">
      <canvas id="\{{id}}"></canvas>
    </div>
    <div class="user__presentation-item-blog">
      <h4>\{{title}}</h4>
      <p>\{{createdAt}}</p>
      <p>\{{article}}</p>
    </div>
  </div>
</template>